@tailwind base;

@tailwind components;

@tailwind utilities;

/* Trickling */
#trickling {
  pointer-events: none;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--trickling-progress-bar-z-index);
}
#trickling .trickling-progress-bar {
  background: var(--trickling-color);
  position: fixed;
  z-index: var(--trickling-progress-bar-z-index);
  top: 0;
  left: 0;
  width: 100%;
  height: var(--trickling-progress-bar-height);
}
#trickling .trickling-progress-peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px var(--trickling-color),
    0 0 5px var(--trickling-color);
  opacity: 1;
  transform: rotate(3deg) translateY(-4px);
}
